#main {
    background-color: #FFF;

    /* margin: 44px; */

    margin-top: 44px;
    margin-right: 44px;
    margin-bottom: 44px;
    margin-left: 284px;
    

    font: 14px 'Raleway', sans-serif;
    line-height: 1.35;
}



#left-panel {
    background-color: #596A4E;
    color: #fff;
    width: 240px;
    margin-left: -240px;
    float: left;
    padding: 0px 4px;
    box-sizing: border-box;
    /* text-align: center; */
}

#img-container {
    height: 268px;
    text-align: center;
}

#img-profile {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-sizing: border-box;
    margin: 64px 0px;
}

#left-sections-container ul {
    list-style: none;
    
   /* text-align: center; */
}

.lp-sections .title {
    border: 1px solid #fff;
    margin: 40px 8px 20px;
    padding: 3px 0px 2px;
    font-weight: 200;
    text-align: center;
}

.lp-sections .description {
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
    margin: 0px 12px;
}

#personal-info-list {
    padding: 0px;
    margin: 0px 8px;
}

#personal-info-list li {
    margin-bottom: 12px;
}

#personal-info-list img {
    vertical-align: middle;
    margin-right: 4px;
}

#skills-list {
    padding: 0px;
    margin: 0px 8px;
}

#skills-list li {
    margin-bottom: 12px;
}

#skills-list img {
    border: 1px solid #fff;
    border-radius: 50px;
    vertical-align: middle;
    padding: 4px;
    margin-right: 8px;
}





#social-media-panel {
    width: 220px;
    height: 200px;
    margin: 0px 6px;
    box-sizing: border-box;
    text-align: center;
}

.social-media-item {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    width: 92px;
    height: 80px;
    margin-top: 0px;
    margin-bottom: 12px;
    display: inline-block;  
    box-sizing: border-box;
    text-align: center;
}

.social-media-item img {
    width: 46px;
    height: 46px;
}















#right-content {
    background-color: #CECECE;
    width: 100%;
    float: right;
}


#header {
    /* background-color: rgba(13, 13, 13, 0.514); */
}



.rb-sections {
    background-color: aqua;
}

.rb-sections ol {
    list-style: none;
}

.rb-separator {
    height: 1px;
    background: #757575;
}

.experience-container {
    background-color: beige;
    display: inline-block;
}

.experience-sub-container-left {
    width: 20%;
    float: left;
   
}

.experience-sub-container-right {
    width: 80%;
    float: right;
    clear: right;
}
