/*Main*/
#main {
    display: table;
    width: 100%;
    padding: 40px 40px 0px;
    box-sizing: border-box;
    background-color: #FFF;
    font: 14px 'Raleway', sans-serif;
    line-height: 1.35;
}

/*Left Panel*/
#left-panel {
    display: table-cell;
    width: 240px;
    padding: 0px 4px;
    box-sizing: border-box;
    background-color: #596A4E;
    color: #fff;
    vertical-align: top;
}

/*Profile Image*/
#img-container {
    height: 268px;
    text-align: center;
}

#img-profile {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-sizing: border-box;
    margin: 64px 0px;
}

#left-sections-container ul {
    list-style: none;    
}

.lp-sections {
    margin: 0px 8px 40px;
}

.lp-sections .title {
    border: 1px solid #fff;
    padding: 3px 0px 2px;
    font-weight: 200;
    text-align: center;
}

/*Profile*/
#profile-description {
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
    margin: 8px 12px 0px;
}

/*Personal Info*/
#personal-info-list {
    padding: 0px;
    margin: 0px 8px;
}

#personal-info-list li {
    margin-bottom: 12px;
}

#personal-info-list img {
    vertical-align: middle;
    margin-right: 4px;
}

/*Skills*/
#skills-list {
    padding: 0px;
    margin: 0px 8px;
}

#skills-list li {
    margin-bottom: 12px;
}

#skills-list img {
    border: 1px solid #fff;
    border-radius: 50px;
    vertical-align: middle;
    padding: 4px;
    margin-right: 8px;
}

/*Social Media*/
#social-media-panel {
    width: 220px;
    margin: 0px 6px;
    box-sizing: border-box;
    text-align: center;
}

.social-media-item {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    width: 92px;
    height: 80px;
    margin-top: 0px;
    margin-bottom: 12px;
    display: inline-block;  
    box-sizing: border-box;
    text-align: center;
}

.social-media-item img {
    width: 46px;
    height: 46px;
}















#right-content {
    display: table-cell;
    padding: 0px;
    margin: 0px;
    background-color: #cecece;

    width: 100%;
    float: right;

    clear: right;
}







#header {
    margin: 0px;
    height: 268px;
}

#sub-header {
    height: 228px;
    position: relative;
}

#main-title {
    width: 100%;
    text-align: center;
    font-size: 36px;
    color: #fff;
    position: absolute;
    top: 78px;
    margin: 0px;
    box-sizing: border-box;    
}

#main-subtitle {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #ddd;
    position: absolute;
    bottom: 72px;
    margin: 0px;
    font-weight: 300;
    box-sizing: border-box;    

}

#sub-header img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;    

}

#background-image-layer {
    background-color: #021A0290;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;    

}

#menu {
    height: 40px;
    background: #384530;
}

.menu-item {
    color: #9CB09B;
    width: 16%;
    float: left;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}





#right-body {
    margin: 48px 40px;
    color: #242424;
    box-sizing: border-box;
}

#right-body .title {
    font-size: 20px;
    font-weight: 200;
    margin: 0px 0px 4px;
}

.experience-container {
    display: inline-block;
    width: 100%;
    margin-bottom: 26px;
}

.experience-sub-container-left {
    width: 20%;
    float: left;
}

.experience-sub-container-left p {
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
}

.experience-sub-container-right {
    width: 80%;
    float: right;
    clear: right;
    font-size: 20px;
}

.experience-sub-container-right p {
    margin: 0px;
}

.experience-company {
    font-weight: 700;
}

.experience-description {
    font-weight: 100;
}







#education-list li {
    width: 100%;
    margin-bottom: 12px;
}

#education-list p {
    font-size: 20px;
    margin: 0px;
}

.course-company {
    font-weight: 700;
}



.course {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.course-name {
    float: left;
    font-weight: 100;
}

.course-languages {
    float: right;
    clear: right;
}


.course img {
    width: 24px;
    height: 24px;
    margin-left: 4px;
}












.rb-sections ol {
    list-style: none;
    margin-top: 20px;
    padding: 0px;

}

.rb-separator {
    height: 1px;
    background: #757575;
}


/*
Portfolio
*/
#portfolio {
    background-color: #242424;
    height: 148px;
    margin: 0px 40px 40px;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;

    font: 14px 'Raleway', sans-serif;
    line-height: 1.35;

}

#pf-title {
    margin: 0px;
    font-size: 18px;
    font-weight: 200;
}

#portfolio-left-panel p {
    font-weight: 100;
}

#portfolio-left-panel {
    /* background-color: #596A4E; */
    width: 216px;
    height: 100%;
    float: left;
    color: #fff;
}

#portfolio-projects {
    background-color: #9CB09B;
    float: left;
    clear: right;
    height: 100%;
    box-sizing: border-box;
}







